language: android
android:
 components:
  - tools
  - platform-tools
  - build-tools-26.0.2
  - android-26

  # Additional components
  - extra-android-support
  - extra-android-m2repository

script:
 - ./gradlew build connectedCheck

branches:
 only:
   - master

after_failure: "cat $TRAVIS_BUILD_DIR/app/build/reports/lint-results.xml"