<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="us.koller.cameraroll">

    <!--to read & write images ...-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--download images (e.g. logo in About section)-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--to set Wallpaper-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraRoll">

        <!--To make use of extra screen real-estate on phones, like LG G6, Samsung Galaxy S8, ...-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AlbumActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.Album" />

        <activity
            android:name=".ui.ItemActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.PhotoView" />

        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.VideoPlayer" />

        <activity
            android:name=".ui.SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Settings" />

        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.About" />

        <activity
            android:name=".ui.FileExplorerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.FileExplorer" />

        <activity
            android:name=".ui.FileOperationDialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.FileOperationDialog" />

        <activity
            android:name=".ui.ExifEditorActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.ExifEditor"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.EditImageActivity"
            android:label="@string/edit"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.EditImage" />

        <activity
            android:name=".ui.SetWallpaperActivity"
            android:label="@string/wallpaper"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CameraRoll.SetWallpaper">

            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".IntentReceiver">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <service
            android:name=".data.fileOperations.Copy"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".data.fileOperations.Delete"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".data.fileOperations.Move"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".data.fileOperations.NewDirectory"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".data.fileOperations.Rename"
            tools:ignore="InnerclassSeparator" />
    </application>
</manifest>