<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.koller.cameraroll">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraRoll">

        <!--To make use of extra screen real-estate on phones, like LG G6, Samsung Galaxy S8, ...-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AlbumActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.Album" />

        <activity
            android:name=".ui.ItemActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.PhotoView" />

        <activity
            android:name=".ui.VideoPlayerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.VideoPlayer"
            android:configChanges="screenSize|orientation" />

        <activity
            android:name=".ui.SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Settings" />

        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.About" />

        <activity
            android:name=".ui.FileExplorerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.FileExplorer" />

        <activity
            android:name=".ui.FileOperationDialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CameraRoll.Translucent.FileOperationDialog" />

        <activity
            android:name=".ui.ExifEditorActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.CameraRoll.ExifEditor" />

        <activity android:name=".IntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!--<intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>-->
        </activity>

        <service
            android:name=".jobservices.MediaJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>